html, body {
	background-color: #fefefe;
}
.poem {
	font-family: "ff-tisa-web-pro", georgia;
	max-width: 540px;
	font-size: 22px;
	line-height: 1.4;
	margin: 90px auto;
	color: #222;
	@media screen and (max-width: 1200px) {
		font-size: 18px;
		max-width: 400px;
	}
	@media screen and (max-width: 830px) {
		font-size: 12px;
		max-width: 280px;
	}
}